<div class="task">

  <mat-table #table class="tasks-table mat-elevation-z8" [dataSource]="dataSource"
      matSort matSortActive="Priority" matSortDirection="desc" matSortDisableClear aria-label="Elements">

    <ng-container matColumnDef="actions">
      <mat-header-cell class="action-cell" *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell class="action-cell" *matCellDef="let row; let i=index;" [routerLink]="['/tasks', row.Id, 'edit']">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </mat-cell>
    </ng-container>

        <!-- Id Column -->
    <ng-container matColumnDef="Id">
      <mat-header-cell class="action-cell" *matHeaderCellDef mat-sort-header>#</mat-header-cell>
      <mat-cell class="action-cell" *matCellDef="let row">{{row.Id}}</mat-cell>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="Title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
      <mat-cell class="title-cell" *matCellDef="let row">{{row.Title}}</mat-cell>
    </ng-container>

    <!-- DueDate Column -->
    <ng-container matColumnDef="DueDate">
      <mat-header-cell class="duedate-cell" *matHeaderCellDef mat-sort-header>Due Date</mat-header-cell>
      <mat-cell class="duedate-cell" *matCellDef="let row">{{row.DueDate | date: 'dd MMM yyyy'}}</mat-cell>
    </ng-container>

    <!-- Priority Column -->
    <ng-container matColumnDef="Priority">
      <mat-header-cell class="priority-cell" *matHeaderCellDef mat-sort-header>Priority</mat-header-cell>
      <mat-cell *matCellDef="let row"
        [ngClass]="row.Priority == 0 ? 'mat-cell-LowPriority' : row.Priority == 1 ? 'mat-cell-MedPriority' : 'mat-cell-highPriority'">
        <mat-icon *ngIf="!(isHandset$ | async)">{{ getPriorityIconName(row.DueDate) }}</mat-icon>
        {{ getPriorityDisplayName(row.Priority, row.DueDate) }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="onRowClicked(row)"></mat-row>
  </mat-table>

  <mat-paginator class="mat-elevation-z8"
    [pageSizeOptions]="[5, 10, 25, 50, 100]"
    [pageIndex]="0"
    [pageSize]="5"
    showFirstLastButtons>
  </mat-paginator>

</div>
