<div class="task">

  <mat-table #table class="tasks-table mat-elevation-z8" [dataSource]="dataSource"
      matSort matSortActive="DueDate" matSortDirection="desc" matSortDisableClear aria-label="Elements">

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell *matCellDef="let row; let i=index;" [routerLink]="['/tasks', row.Id, 'edit']"> <!-- (click)="editRecord(i, row.id)"-->
        <mat-icon aria-label="Edit">edit</mat-icon>
      </mat-cell>
    </ng-container>

        <!-- Id Column -->
    <ng-container matColumnDef="Id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.Id}}</mat-cell>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="Title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
      <mat-cell class="title-cell" *matCellDef="let row">{{row.Title}}</mat-cell>
    </ng-container>

    <!-- DueDate Column -->
    <ng-container matColumnDef="DueDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Due Date</mat-header-cell>
      <mat-cell class="duedate-cell" *matCellDef="let row">{{row.DueDate | date: 'dd MMM yyyy'}}</mat-cell>
      <mat-icon matSuffix>account_box</mat-icon>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="onRowClicked(row)"></mat-row>
  </mat-table>

  <mat-paginator class="mat-elevation-z8"
    [pageSizeOptions]="[5, 10, 25, 50, 100]"
    [pageIndex]="0"
    [pageSize]="5"
    showFirstLastButtons>
  </mat-paginator>

</div>
