<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
  <div class="signin-box">
    <form [formGroup]="signUpForm" (ngSubmit)="signUpForm.valid && signUp()">
      <mat-toolbar color="primary">Family Agenda - Create a new account</mat-toolbar>
      <div class="signup-form-field-first">
        <mat-form-field fxFlex="50">
          <input matInput formControlName="Username" placeholder="User name" required>
          <mat-icon matSuffix>account_box</mat-icon>
        </mat-form-field>
        <mat-form-field fxFlex="50" fxFlexOffset="10px">
          <input matInput formControlName="Password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'" required>
          <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility' : 'visibility_off' }}</mat-icon>
        </mat-form-field>
      </div>
      <div class="signup-form-field-middle">
        <mat-form-field>
          <input matInput formControlName="Email" placeholder="Email" required>
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </div>
      <div class="signup-form-field-middle">
        <mat-form-field>
          <input matInput formControlName="FirstName" placeholder="First name" required>
        </mat-form-field>
        <mat-form-field fxFlexOffset="10px">
          <input matInput formControlName="LastName" placeholder="Last name" required>
        </mat-form-field>
      </div>
      <div class="signup-form-field-first" fxLayoutAlign="center">
        <button mat-raised-button color="primary">Sign Up</button>
      </div>
    </form>
  </div>
</div>
  