<mat-sidenav-container class="sidenav-container">
  <mat-sidenav [ngClass]="{hidden : !showNav}"
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'dialog'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false">
    <mat-toolbar color="primary" [ngClass]="{hidden : !showNav}" (click)="drawer.toggle()">Menu</mat-toolbar>
    <mat-nav-list [ngClass]="{hidden : !showNav}">
      <a mat-list-item routerLink="/home"><mat-icon matListIcon>playlist_add_check</mat-icon>Task List</a>
      <a mat-list-item routerLink="/tasks/new"><mat-icon matListIcon>playlist_add</mat-icon>Create</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button [ngClass]="{ hidden : !showNav }"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      
      <mat-icon [ngClass]="{ hidden : !showNav }">home</mat-icon>
      <a [ngClass]="{ hidden : !showNav }" class="appTitle" routerLink="/home">Home</a>
      <span class="spacer" [ngClass]="{ hidden : !showNav }"></span>

      <a class="appTitle" routerLink="/signin" [ngClass]="{ hidden : showNav }">Welcome - Sign In</a>
      
      <a (click)="logout(); drawer.toggle();" [ngClass]="{ hidden : !showNav }">Log out</a> <!--[queryParams]="{logout:true}"-->
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
