<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Family Agenda</mat-toolbar>
    <mat-nav-list>
      <mat-list-item>
        <mat-icon matListIcon>playlist_add_check</mat-icon>
        <h3 matLine><a routerLink="/family-agenda">To Do List</a></h3>
        <p matLine>
          <span><a routerLink="/family-agenda">View All Items</a></span>
        </p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>playlist_add</mat-icon>
        <h3 matLine><a routerLink="/family-agenda/add">To do List</a></h3>
        <p matLine>
          <span><a routerLink="/family-agenda/add">Add New Item</a></span>
        </p>
      </mat-list-item>
      <mat-list-item> <!--*ngIf="userService.roleMatch(['Admin'])"-->
        <mat-icon matListIcon>settings</mat-icon>
        <h3 matLine><a routerLink="/admin">Administration</a></h3>
        <p matLine>
          <span><a routerLink="/admin">Change settings</a></span>
        </p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>directions_run</mat-icon>
        <h3 matLine><a mat-list-item href="#" (click)="logOut()">Log out</a></h3>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button class="mat-24"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <span class="sidenav-welcome" *ngIf="userClaims">Welcome {{ userClaims.FirstName }} {{ userClaims.LastName }}</span> -->
    </mat-toolbar>
    
    <!-- Main Router that renders content in the main area --> 
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
