<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    
    <mat-toolbar color="primary">Family Agenda</mat-toolbar>
    <mat-nav-list>
      <mat-list-item routerLinkActive="active">
        <mat-icon matListIcon>playlist_add_check</mat-icon>
        <h3 matLine><a routerLink="/tasks">Task List</a></h3>
      </mat-list-item>
      <mat-list-item routerLinkActive="active">
        <mat-icon matListIcon>playlist_add_check</mat-icon>
        <h3 matLine><a [routerLink]="['tasks', taskId.value]">Edit Task</a></h3>
      </mat-list-item>
      <mat-list-item routerLinkActive="active">
        <mat-icon matListIcon>playlist_add</mat-icon>
        <h3 matLine><a routerLink="/tasks/new">Create</a></h3>
      </mat-list-item>
      <mat-list-item routerLinkActive="active"> <!--*ngIf="userService.roleMatch(['Admin'])"-->
        <mat-icon matListIcon>settings</mat-icon>
        <h3 matLine><a routerLink="/login">Settings</a></h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>directions_run</mat-icon>
        <h3 matLine><a href="#" (click)="logOut()">Log out</a></h3>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button class="mat-24"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <span class="sidenav-welcome" *ngIf="userClaims">Welcome {{ userClaims.FirstName }} {{ userClaims.LastName }}</span> -->
    </mat-toolbar>
    
    <!-- Main Router that renders content in the main area -->
    <div> 
        <p>Please enter Task ID</p>
        <input #taskId>

        <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>

