<div class="container">
    <h3 mat-dialog-title>Editing task # {{ data?.Id }} </h3>
    <form [formGroup]="editForm">
      <div class="form">
        <mat-form-field>
          <input matInput formControlName="Title" placeholder="Please enter the title">
          <mat-error *ngIf="checkValidTouched('Title')">Title is required</mat-error>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field>
          <textarea matInput formControlName="Description" placeholder="Please enter the description"></textarea>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" formControlName="DueDate" placeholder="When is it due?">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="checkValidTouched('DueDate')">Due Date is required</mat-error>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field>
          <mat-select formControlName="Status" (ngModelChange)="onStatusChange($event)" placeholder="What is the status?">
            <mat-option disabled>Please choose a status</mat-option>
            <mat-option *ngFor="let status of statusList | async" [value]="status.id">
              {{ status.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="checkValidTouched('Status')">Status is required</mat-error>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field>
          <mat-select formControlName="Priority" (ngModelChange)="onPriorityChange($event)" placeholder="What is the priority?">
            <mat-option disabled>Please choose the priority</mat-option>
            <mat-option *ngFor="let priority of priorityList | async" [value]="priority.id">
              {{priority.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="checkValidTouched('Priority')">Priority is required</mat-error>
        </mat-form-field>
      </div>

      <div class="form">
        <button mat-raised-button [disabled]="!editForm.valid" fxFlex="50" color="primary" (click)="onSaveClick()" [mat-dialog-close]="1" color="primary">Save</button>
        <button mat-raised-button (click)="onNoClick()" fxFlex="50" color="accent" fxFlexOffset="5px" tabindex="-1">Cancel</button>
      </div>
    </form>
  </div>
