<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
  <div class="signin-box">
    <form [formGroup]="signInForm" (ngSubmit)="signInForm.valid && signIn()">
      <mat-toolbar color="primary">Family Agenda - Please sign in</mat-toolbar>
      <div class="signin-form-field-first">
        <mat-form-field>
          <input matInput formControlName="Username" placeholder="Username" required>
          <mat-icon matSuffix>account_box</mat-icon>
        </mat-form-field>
      </div>
      <div class="signin-form-field-middle">
        <mat-form-field>
          <input matInput formControlName="Password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'" required>
          <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility' : 'visibility_off' }}</mat-icon>
        </mat-form-field>
      </div>
      <a routerLink="/signup">Create an account</a>
      <div class="signin-form-field-first" fxLayoutAlign="center">
        <button mat-raised-button color="primary">Sign In</button>
      </div>
    </form>
  </div>
</div>