<div class="container">
  <!-- <h3 mat-dialog-title>Create a new task</h3> -->
  <form [formGroup]="form">
    <div class="form">
      <mat-form-field>
        <input matInput formControlName="title" placeholder="Please enter the title">
        <mat-error *ngIf="checkValidTouched('title')">Title is required</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <textarea matInput formControlName="description" placeholder="Please enter the description"></textarea>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" formControlName="dueDate" placeholder="When is it due?">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="checkValidTouched('dueDate')">Due date is required</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <mat-select formControlName="status" (ngModelChange)="onStatusChange($event)" placeholder="What is the status?">
          <mat-option disabled>Please choose a status</mat-option>
          <mat-option *ngFor="let status of statusList | async" [value]="status.id">
            {{ status.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="checkValidTouched('status')">Status is required</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <mat-select formControlName="priority" (ngModelChange)="onPriorityChange($event)" placeholder="What is the priority?">
          <mat-option disabled>Please choose the priority</mat-option>
          <mat-option *ngFor="let priority of priorityList | async" [value]="priority.id">
            {{priority.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="checkValidTouched('priority')">Priority is required</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <button mat-raised-button [disabled]="!form.valid" fxFlex="50" color="primary" (click)="onSaveClick()" [mat-dialog-close]="1" color="primary">Save</button>
      <button mat-raised-button (click)="onNoClick()" fxFlex="50" color="accent" fxFlexOffset="5px" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
